.App {
  font-family: sans-serif;
  text-align: center;
}

.heading-container {
  display: flex;
}
.heading {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.tab-body {
  display: flex;
  border: 1px solid black;
  height: 100px;
  width: 400px;
  padding: 30px 10px;
  margin-bottom: 10px;
}
.error {
  color: red;
  display: block;
}
